nav{
    width: 100vw;
    transition: 0.3s;
}
footer{
    width: 100vw;
    bottom: 0;
    margin-top: 50px;
    padding: 0;
}
footer > b{
    padding: 50px;
}
.wrap-content{
    overflow: hidden;
}
.slider{
    position: relative;
    width: 500vw;
    height: calc(100vh - 150px);
    transition: 0.6s ease-in-out;
    overflow: hidden;
}
.content{
    float: left;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: relative;
}
/*  */
.content::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}
/* .content::-webkit-scrollbar-button {
    background: #ccc
}
.content::-webkit-scrollbar-track-piece {
    background: #888
}
.content::-webkit-scrollbar-thumb {
    background: #eee
}​ */
/*  */
/* Content 1 */
.inner-content{
    height: 100%;
    display: grid;
    grid-template-columns: 60vw auto;
}
.botton{
    position: fixed;
    top: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.button-img{
    width: 80px;
    height: 80px;
}
.head-content{
    height: 300px;
}
.content-history{
    height: 50%;
    padding: 0px 5px 100px;
}
.head-content > div{
    padding: 0px 5%;
    border-left: 2px solid #AF9A6E;
    border-right: 2px solid #AF9A6E;
}
.history-img{
    min-width: 50px;
    width: 10vw;
}
.reverse{
    transform: scaleX(-1);
}
.timeline{
    width: 100%;
    height: 2px;
    background-color: #AF9A6E;
}
.timeline-start{
    width: 50%;
    margin-left: 50%;
    height: 2px;
    background-color: #AF9A6E;
}
.start{
    position: relative;
    left: calc(50% - 40px);
    top: -35px;
    transition: 0.3s;
}
.start > img{
    transition: 0.3s;    
    cursor: pointer;
}
.start > figure > img:hover{
    transform: scale(1.2);
}
/*  */
/* Content 2 */
.max-width{
    width: 100%;
    position: relative;
}
.head-content-head{
    height: 300px;
    position: relative;
}
.year-cloud > figure > img{
    width: 20vw;
    min-width: 200px;
}
.gold-arrow{
    position: absolute;
    left: calc(50% - 25px);
    top: calc(300px - 20px);
}
.content-para{
    padding: 50px 0px 50px 100px;
    display: flex;
    align-items: center;
    height: 50%;
}
.content-para > p{
    display: flex;
}
.content-img{
    position: absolute;
    transform: translateY(100px);
    top: calc(300px - 250px);
    transition: 1.5s;
    opacity: 0;
}
.content-img > figure > img{
    width: 100%;
    max-width: 500px;
    min-width: 200px;
}
.background-history{
    width: 600vw;
    height: 100%;
    position: absolute;
    transition: 0.6s ease-in-out;
    overflow: hidden;
    opacity: 0.6;
}
.background-history > div{
    float: left;
}
.bgc{
    position: absolute;
}
.bgc > figure > img{
    width: 60vw;
}
.c1{
    top: 50vh;
    transform: translateX(-15vw);
}
.c2{
    transform: translateX(80vw);
}
.c3{
    top: 25vh;
    transform: translateX(200vw);
}
.c4{
    top: 25vh;
    transform: translateX(340vw);
}
.c5{
    top: 5vh;
    transform: translateX(-30vw);
}
.c6{
    top: 50vh;
    transform: translateX(80vw);
}
.c7{
    transform: translateX(200vw);
}
.c8{
    transform: translateX(550vw);
}
#ap{
    transition: 3s;
}
#ap > figure > img{
    width: 30vw;
}
.imgap{
    transition: 0s;
}
/*  */
@media only screen and (max-width: 1200px){
    .inner-content{
        height: auto;
    }
    .slider{
        height: calc(100vh - 90px);
    }
    .content-img{
        position: absolute;
        top: calc(250px - 150px);
    }
    .content-img > figure > img{
        /* width: 100%; */
        max-width: 300px;
        min-width: 200px;
    }
}
@media only screen and (max-width:670px){
    .inner-content{
        display: grid;
        grid-template-columns: auto;
        height: auto;
    }
    .button-img{
        width: 50px;
        height: 50px;
    }
    .content-para{
        padding: 50px 60px;
    }
    .content-img{
        padding: 0px 0px 50px;
        position: relative;
        top: 0;
    }
    .content-img > figure > img{
        width: 100%;
        max-width: 300px;
        min-width: 200px;
    }
}