body{
    overflow: hidden;
}
.warp-parallax{
    width: 100%;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 1px;
    height: 100vh;
    position: relative;
}

/*  */

@keyframes airplanefly {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100vw);
    }
}
@keyframes cloud1{
    from{
        transform: translateX(-50vw);
    }
    to{
        transform: translateX(0vw);
    }
}
@keyframes cloud2{
    from{
        transform: translateX(50vw);
    }
    to{
        transform: translateX(0vw);
    }
}

@keyframes rainDrop{
    from{
        transform: translateY(10vh);
    }
    to{
        transform: translateY(100vh);
    }
}

.airplane-animation{
    animation: airplanefly 2s linear forwards;
}
.cloudc1-animation{
    animation: 2s cloud1 2s ease-in forwards;
}
.cloudc2-animation{
    animation: 2s cloud2 2s ease-in forwards;
}
.rain-drop-animation{
    animation: rainDrop 2s ease-in infinite;
}
/*  */
.title-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vw;
}
/*  */
.background-animation{
    margin-top: 340px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateZ(-1px) scale(2);
}
.airplane > img{
    width: 15vw;
}
.cloud-area{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}
.cloud{
    width: 40vw;
    position: absolute;
    z-index: -100;
}
.c1{
    transform: translateX(-100vw);
}
.c2{
    right: 0;
    transform: translateX(100vw);
}

.rain-area{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -101;
}

.rain{
    top: 0;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
}

/*  */
.title-picture{
    position: relative;
}
#r9-img{
    width: 30%;
    height: auto;
    display: flex;
    z-index: 100;
}
.flower{
    transition: 0.5s;
    /* transform: scale(0); */
    z-index: -101;
}
.flower-background{
    position: absolute;
    display: flex;
    width: 8vw;
    bottom: 6%;
    left: 50%;
    margin-left: -4vw;
}
.flo1{
    transform: translateX(12vw);
}
.flo2{
    transform: translateX(-10vw) translateY(-15vw);
}
.flo3{
    transform: translateX(-15vw) translateY(-6vw);
}
.flo4{
    transform: translateX(-11vw) translateY(-7vw);
}
.flo5{
    transform: translateX(-7vw) translateY(-10vw);
}
.flo6{
    transform: translateX(-11vw);
}
.flo7{
    transform: translateX(10vw) translateY(-10vw);
}
.flo8{
    transform: translateX(12vw) translateY(-8vw);
}
/*  */
.line{
    display: flex;
    justify-content: center;
}
.line > div{
    width: 1px;
    height: 100px;
    background-color: #BC9F5E;
    margin: 20px;
}

.background-image1{
    background-image: url('../assets/home/svg/LineArt-บ้านนา-หน้าแรก.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 650px;
}

@media only screen and (max-width: 1200px){
    .background-animation{
        margin-top: 220px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media only screen and (max-width: 600px){
    #r9-img{
        width: 60%;
    }
    .line{
        display: none;
    }
    .background-image1{
        height: 500px;
    }
    #content2{
        margin: 50px 0px;
    }
    .flower-background{
        position: absolute;
        display: flex;
        width: 16vw;
        bottom: 5%;
        left: 50%;
        margin-left: -8vw;
        z-index: -101;
    }
    .flo1{
        transform: translateX(23vw);
    }
    .flo2{
        transform: translateX(-20vw) translateY(-35vw);
    }
    .flo3{
        transform: translateX(-25vw) translateY(-16vw);
    }
    .flo4{
        transform: translateX(-22vw) translateY(-17vw);
    }
    .flo5{
        transform: translateX(-12vw) translateY(-20vw);
    }
    .flo6{
        transform: translateX(-21vw);
    }
    .flo7{
        transform: translateX(16vw) translateY(-15vw);
    }
    .flo8{
        transform: translateX(20vw) translateY(-12vw);
    }
}