@import url("./nav.css");

@font-face{
    font-family: 'ITALICT';
    src: url('../fonts/ITALICT.TTF')
}
@font-face{
    font-family: 'MINIONPRO';
    src: url('../fonts/MINIONPRO-REGULAR.OTF')
}
@font-face{
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Light.ttf')
}
@font-face{
    font-family: 'THSarabunNew';
    src: url('../fonts/THSarabunNew/THSarabunNew.ttf')
}
.font-MINIONPRO{
    font-family: 'MINIONPRO', sans-serif;
}
.font-ITALICT{
    font-family: 'ITALICT', sans-serif;
}
.font-Kanit{
    font-family: 'Kanit', sans-serif;
}
.font-THSarabunNew{
    font-family: 'THSarabunNew', sans-serif; 
}
.text-space-1{
    letter-spacing:1px;
}
.text-space-3{
    letter-spacing:3px;
}
.text-line-height{
    line-height: 90%
}
.font-size-S{
    font-size: 1.5em;
}
.font-size-SM{
    font-size: 2em;
}
.font-size-M{
    font-size: 3em;
}
.font-size-L{
    font-size: 4.5em;
}
*{
    margin: 0 auto;
}
body{
    overflow-x: hidden;
}

.container{
    padding: 5% 10% 5%;
    position: relative;
}
.background-b1{
    background-color: #535E70;
}
.background-b2{
    background-color: #E5E1D8;
}
.background-b3{
    background-color: white;
}
.color-c1{
    color: white;
}
.color-c2{
    color: #BC9F5E;
}
.color-c3{
    color: #535E70;
}
.text-center{
    display: flex;
    text-align: center;
    justify-content: center;
}

.layer-top{
    z-index: 100;
}

.layer-mid{
    z-index: 0;
}

.layer-bot{
    z-index: -100;
}

footer{
    padding: 50px 0px;
}
/*  */
@media only screen and (max-width: 930px){
    .font-size-S{
        font-size: 1em;
    }
    .font-size-M{
        font-size: 2em;
    }
    .font-size-L{
        font-size: 2.5em;
    }
}
@media only screen and (max-width: 670px){
    .font-size-S{
        font-size: 1em;
    }
    .font-size-SM{
        font-size: 1.2em;
    }
    .font-size-M{
        font-size: 2em;
    }
    .font-size-L{
        font-size: 2.5em;
    }
}