.wrap-content{
	overflow: hidden
}

.container-content{
	width: 80%;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-top: 50px;
}

.head-content{
	display: flex;
	text-align: center;
	justify-content: end;
}

.content-content{
	margin-right: 20%;
}

.image-content{
	padding-top: 50px;
}

.mobile-opt{
	display: none;
}

@media only screen and (max-width: 1200px){
	.content-content{
		margin-right: 10%;
	}
}

@media only screen and (max-width: 950px){
	.container-content{
		grid-template-columns: auto;
	}
	.content-content{
		margin-right: 0%;
	}
	.mobile-opt{
		display: block;
	}
	.desktop-opt{
		display: none;
	}
	.image-content{
		padding-top: 20px;
	}
}