.wrap-content{
	overflow: hidden;
	width: 100%;
}

#content{
	opacity: 0;
	transition: .7s;
	transform: translateY(50px);
}

#headSlider{
	transition: .7s;
}

.flower{
	transition: 1.5s;
}

.margin-left-20{
	margin-left: 20%;
}

.margin-top-20{
	margin-top: 20px;
}

.margin-right-20{
	margin-right: 20%;
}

.margin-top-100{
	margin-top: 100px;
}

.absolute{
	position: absolute;
}

.relative{
	position: relative;
}

.left-right-border{
	padding: 0px 13%;
	border-left: 2px solid #AF9A6E;
	border-right: 2px solid #AF9A6E;
	position: relative;
}
.hover:hover{
	cursor: pointer;
}

#koang{
	position: relative;
	left: -50px;
	top: 0;
}

#flower{
	top: 0;
	right: 0;
	transform: rotate(25deg);
}

#flower-left{
	top: -400px;
	left: 0px;
}

#flower-right{
	top: -400px;
	right: 0px;
}

.container-content{
	width: 80%;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-top: 50px;
	margin-left: 10%;
}

.head-content{
	display: flex;
	text-align: center;
	justify-content: end;
}

.content-content{
	/*margin-right: 20%;*/
}

.image-content{
	padding-top: 50px;
}

.mobile-opt{
	display: none;
}

.slider{
	margin-top: 50px;
	margin-bottom: 60px;
	width: 100%;
	display: flex;
	max-height: 560px;
	position: relative;
	transition: 0.6s ease-in-out;
}
.content-slider{
	margin-top: 20px;
	text-align: center;
	align-items: center;
	margin: 0 auto;
	width: 500px;
	transition: .7s;

}
.image-slider{
	margin-top: 20px;
	position: relative;
	transition: .7s;
}

.content{
	width: 500vw;
}

.carousel{
	width: 100vw;
	position: relative;
}
.svg-image{
	width: 30vw;
}
#pic2{
	width: 25vw;
}
#pic3{
	width: 20vw;
}
#cloud1{
	left: -150px;
	top: 50px;
	transition: 4s;
}
#cloud2{
	right: -150px;
	bottom: 140px;
	transition: 4s;
}

@media only screen and (max-width: 1200px){
	.content-content{
		margin-right: 10%;
	}
	.svg-image{
		width: 75vw;
	}
	#pic2{
		width: 45vw;
	}
	#pic3{
		width: 32vw;
	}
	#flower-left{
		top: -350px;
		left: -40px;
	}
	#flower-right{
		top: -350px;
		right: -40px;
	}
}

@media only screen and (max-width: 950px){
	.container-content{
		grid-template-columns: auto;
	}
	.content-content{
		margin-right: 0%;
	}
	.mobile-opt{
		display: block;
	}
	.desktop-opt{
		display: none;
	}
	.image-content{
		padding-top: 20px;
	}
	#flower{
		display: none;
	}
	.left-right-border{
		padding: 0px 20px;
	}
	.content-slider{
		width: 70%;
	}
	.content-image{
		width: 80%;
	}
	.svg-image{
		width: 80vw;
	}
	#pic3{
		width: 40vw;
	}
	#main_pic{
		width: 60%;
	}
}

@media only screen and (max-width: 768px){
	.svg-image{
		width: 100vw;
	}
	#pic2{
		width: 70vw;
	}
	#pic3{
		width: 60vw;
	}
	#cloud1{
		left: -30px;
	}
	#cloud2{
		right: -30px;
		bottom: 50px;
	}
	#header{
		margin-top: 40px;
	}
}
