.relative{
	position: relative;
}

.absolute{
	position: absolute;
}
.header{
	margin-top: 20px;
}

.head-border{
	padding: 0px 13%;
	border-left: 2px solid #AF9A6E;
	border-right: 2px solid #AF9A6E;
}

.wraper{
	overflow-x: hidden;
}
.result-img-bg > img{
	width: 100%;
}
/*  */
.fix-background{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	overflow-x: hidden;
	padding-top: 150px;
}
.fix-background > img{
	min-width: 1200px;
	width: 1200px;
	user-select: none;
}
.full-background{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
.full-background{
	background-image: url('../assets/result/svg/น้ำเขื่อนN.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}
.content-wrap{
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
}
.content-wrap > div{
	width: 1200px;
	display: grid;
	padding: 0px 10px 10px;
	grid-template-columns: 50% 50%;
}
.node-content{
	display: grid;
	grid-template-columns: auto auto;
	max-width: 600px;
	font-size: 1.5em;
}
.node-content > img{
	width: 50px;
	margin: auto;
	margin-top: 0;
	padding: 0px 20px;
}

.n1{
	top: 0;
}
.n2{
	top: 200px;
}
.n3{
	top: 400px;
}
.n4{
	top: 750px;
}

.content-wrap-2{
	padding-top: 25%;
	overflow-x: hidden;
}

#banner_flower_left{
	top: 50px;
	left: -91%;
}

#banner_flower_right{
	top: 50px;
	left: 157%;
}

#banner_leaf_left{
	top: -2%;
	left: 30.5%;
}

#banner_leaf_right{
	top: 10%;
	left: 58%;
}

.head-content{
	padding: 20px;
	text-align: center;
}
.inner-content{
	width: 90%;
}
.node-content-2{
	margin: 20px 20px;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}
.node-content-2 > img{
	margin: auto;
	position: relative;
	width: 80%;
}
.result-mobile{
	display: none;
}
@media only screen and (max-width: 1200px){
	#banner_flower_left{
		top: 50px;
		left: -64%;
	}
	#banner_flower_right{
		top: 50px;
		left: 130%;
	}
	#banner_leaf_left{
		top: 10%;
		left: 25%;
	}
	#banner_leaf_right{
		top: 15%;
		left: 63%;
}
	.fix-background > img{
		min-width: 900px;
		width: 900px;
	}
	.content-wrap > div{
		width: 900px;
	}
	.node-content{
		display: grid;
		grid-template-columns: auto auto;
		width: 50vw;
		max-width: 450px;
	}
	.n1{
		top: 0;
	}
	.n2{
		top: 200px;
	}
	.n3{
		top: 200px;
	}
	.n4{
		top: 500px;
	}
}

@media only screen and (max-width: 900px){
	#banner_flower_left{
		top: 50px;
		left: -52%;
	}
	#banner_flower_right{
		top: 50px;
		left: 118%;
	}
	#banner_leaf_left{
		top: 15%;
		left: 20%;
	}
	#banner_leaf_right{
		top: 20%;
		left: 68%;
	}
	.content-wrap > div{
		width: 500px;
		display: grid;
		grid-template-columns: 100%;
	}
	.result-desktop{
		display: none;
	}
	.node-content{
		display: grid;
		grid-template-columns: auto auto;
		width: 90vw;
		margin: 20px 0px;
	}
	.result-mobile{
		display: flex;
	}
	.n1{
		top: 0;
	}
	.n2{
		top: 0;
	}
	.n3{
		top: 0;
	}
	.n4{
		top: 0;
	}
}
@media only screen and (max-width: 520px){
	#banner_flower_left{
		top: -30px;
		left: -45%;
	}
	#banner_flower_right{
		top: -30px;
		left: 105%;
	}
	#banner_leaf_left{
		top: 20%;
		left: 8%;
	}
	#banner_leaf_right{
		top: 25%;
		left: 83%;
	}
	.node-content > img{
		width: 30px;
		margin: auto;
		margin-top: 0;
		padding: 0px 20px;
	}
	.fix-background > img{
		min-width: 500px;
		width: 500px;
	}
	.content-wrap > div{
		width: 500px;
		display: grid;
		grid-template-columns: 100%;
	}
	.node-content{
		display: grid;
		grid-template-columns: auto auto;
		width: 90vw;
		margin: 20px 0px;
		font-size: 1em;
	}
	.n1{
		top: 0;
	}
	.n2{
		top: 0;
	}
	.n3{
		top: 0;
	}
	.n4{
		top: 0;
	}
	.node-content-2{
		width: 90vw;
		margin: auto;
		padding: 20px;
		font-size: 1em;
	}
}