footer{
    position: relative;
    bottom: 0;
}
.ap{
    display: flex;
    justify-content: center;
    padding: 50px 50px 0px;
}
.ap > figure > img{
    width: 20vw;
}
.head-content{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
}
.side-out-line{
    padding: 0px 5%;
    border-left: 2px solid #AF9A6E;
    border-right: 2px solid #AF9A6E;
}
.grid-2-col{
    display: grid;
    grid-template-columns: auto 50%;
}
.grid-2-col > div{
    position: relative;
}
.column{
    position: relative;
}
.map-wrap{
    display: flex;
    justify-content: flex-end;
}
.map{
    width: 600px;
    opacity: 0.6;
}
.map > figure > img{
    width: 100%;
}
.map-re{
    top: 0;
    position: absolute;
    width: 600px;
}
.map-re > div > img{
    width: 100%;
    cursor: pointer;
    opacity: 1;
}
.map-re > div:hover{
    opacity: 1;
}
.map-re > div{
    opacity: 0.7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-des{
    position: absolute;
    user-select: none;
    cursor: pointer;
    z-index: 105;
}
.map1{
    top: 0px;
    left: 130px;
    width: 173px;
    z-index: 103;
}
.map2{
    top: 83px;
    left: 272px;
    width: 190px;
    z-index: 103;
}
.map3{
    top: 127px;
    left: 157px;
    width: 203px;
    z-index: 102;
}
.map4{
    top: 264px;
    left: 259px;
    width: 100px;
    z-index: 103;
}
.map5{
    top: 304px;
    left: 100px;
    width: 295px;
    z-index: 102;
}

.map-data{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    transition: 0.3s;
    max-height: 90vh;
    background: #E4E0D7;
    border: 1px solid #BB964E;
    border-radius: 1.25rem;
    transition: 0.3s;
    margin-right: 50%;
    overflow-y: auto;
}
/*  */
.map-data-content{
    padding: 20px;
}
.map-data-head{
    text-align: center;
}
.map-data-reg{
    text-align: center;
}
.full-data{
    z-index: 1500;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    transform: scale(0);
}
.toggle{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1500;
}
.full-data > .map-data{
    margin-right: 0%;
    z-index: 1501;
}
.target-mobile{
    display: none;
}
.content-left{
    display: flex;
    justify-content: flex-start;
}
.content-right{
    display: flex;
    justify-content: flex-end;
}
.img-content > figure > img{
    width: 20vw;
    z-index: 102;
    position: relative;
}
.text-box{
    padding: 90px 40px;
    border-radius: 1.25rem;
    text-align: left;
    margin: 30px 0px;
    z-index: 101;
}
.text-box > div{
    padding: 0px 20px;
}
.size-box-content{
    width: 80%;
    margin: 10%;
}
.text-box-head{
    padding: 30px 0px;
}
.box-bg-img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 101;
}
.bg-img{
    position: absolute;
}
.bg-img > figure > img{
    width: 20vw;
}
.lineV{
    width: 2px;
}
.lineH{
    height: 2px;
}

.bg1{
    right: -200px;
    top: 40%;
}
.bg2 > figure > img{
    width: 8vw;
}
.bg2{
    right: 50px;
    top: 40%;
}
.bg3 > figure > img{
    width: 12vw;
}
.bg3{
    left: 20px;
    z-index: 101;
    top: -30%;
}
.bg4{
    left: 25%;
    top: calc(50% + 80px);
    z-index: 104;
}
.bg5{
    left: calc(-15%);
    top: calc(20%);
    z-index: 104;
}
.sv-line{
    position: absolute;
    width: 1px;
    background-color: #BC9F5E;
    z-index: 100;
}
.sh-line{
    position: absolute;
    height: 1px;
    background-color: #BC9F5E;
    z-index: 100;
}
.c-line{
    position: absolute;
    z-index: 100;
}
.c-line > img{
    width: 50px;
}
.sv1{
    height: 150px;
    bottom: 0;
    left: calc(-20% - 25px);
}
.sv2{
    height: 150px;
    top: 70px;
    right: 0;
}
.sv3{
    height: 100%;
    top: 275px;
    right: 0;
}
.sv4{
    height: 50%;
    top: 340px;
    left: 0;
}
.sv5{
    height: 10000px;
    top: calc(100% + 150px);
    left: calc(65% + 49px);
}
.sh1{
    left: 0;
    bottom: 0;
    width: 50%;
}
.sh2{
    right: 0;
    bottom: 0;
    width: 45%;
}
.sh3{
    left: calc(-20%);
    top: 50%;
    width: 60%;
}
.sh4{
    left: calc(-20%);
    bottom: calc(50% - 233px);
    width: 113%;
}
.sh5{
    top: 249px;
    width: 85%;
}
.sh6{
    top: 298px;
    left: 0;
    width: 95%;
}
.sh7{
    top: 298px;
    right: 0;
    width: 95%;
}
.sh8{
    top: calc(50% + 389px);
    left: 25px;
    width: 150%;
}
.c1{
    left: calc(0 - 25px);
    bottom: 0;
}

.c2{
    left: calc(48%);
    bottom: -49px;
}
.c3{
    top: 50%;
    left: calc(-20% - 25px);
}
.c4{
    bottom: -49px;
    left: calc(-20% - 25px);
}
.c5{
    right: 0;
    bottom: calc(-100px + 2px);
}
.c6{
    right: -49px;
    top: 200px;
}
.c7{
    top: 249px;
    right: 0;
}
.c8{
    top: 298px;
}
.c9{
    bottom: calc(50% - 390px);
}
.c10{
    bottom: calc(50% - 390px - 49px);
    left: 65%;
}
.c11{
    bottom: calc(-100%);
    left: calc(65% + 49px );
}
@media only screen and (max-width:1200px){
    .grid-2-col{
        display: grid;
        grid-template-columns: 100%;
    }
    .text-box{
        max-width: 200px;
        width: 100vw;
        padding: 80px 0px;
        border-radius: 1.25rem;
        text-align: left;
        margin: 30px 0px;
    }
    .map-wrap{
        display: flex;
        justify-content: center;
    }
    .target-mobile{
        display: flex;
    }
    .desktop{
        display: none;
    }
    .size-box-content{
        width: 100%;
        margin: 0%;
    }
    .img-content > figure > img{
        width: 100vw;
        max-width: 200px;
    }
    .bg1{
        right: 0px;
    }
    .bg2{
        right: calc(50% - 150px);
        top: 40%;
    }
    .bg2 > figure > img{
        width: 10vw;
        min-width: 100px;
    }
    .bg4 > figure > img{
        width: 20vw;
        min-width: 100px;
    }
    .bg4{
        left: calc(40%);
        top: calc(50% + 30px);
        z-index: 104;
    }
    .bg5 > figure > img{
        width: 20vw;
        min-width: 150px;
    }
    .bg5{
        left: calc(20%);
        top: calc(50% - 50px);
        z-index: 104;
    }
    .sv-line{
        position: absolute;
        width: 1px;
        background-color: #BC9F5E;
        z-index: 100;
        display: none;
    }
    .sh-line{
        position: absolute;
        height: 1px;
        background-color: #BC9F5E;
        z-index: 100;
        display: none;
    }
    .c-line{
        position: absolute;
        z-index: 100;
        display: none;
    }
}

@media only screen and (max-width:700px){
    .map{
        width: 300px;
    }
    .map-wrap{
        display: flex;
        justify-content: center;
    }
    .map-re{
        position: absolute;
        width: 300px;
    }
    .map1{
        top: 0px;
        left: 65px;
        width: 87px;
    }
    .map2{
        top: 41px;
        left: 136px;
        width: 95px;
    }
    .map3{
        top: 63px;
        left: 78px;
        width: 102px;
        z-index: 102;
    }
    .map4{
        top: 132px;
        left: 130px;
        width: 50px;
        z-index: 103;
    }
    .map5{
        top: 151px;
        left: 50px;
        width: 148px;
        z-index: 102;
    }
    .map-des{
        font-size: 55%;
    }
    .content-right, .content-left{
        display: flex;
        justify-content: center;
    }
    .bg4 > figure > img{
        width: 40vw;
        min-width: 100px;
    }
    .bg4{
        left: calc(20% + 30px);
        top: calc(55%);
        z-index: 104;
    }
    .bg5{
        left: calc(20% - 50px);
        top: calc(50% - 50px);
        z-index: 104;
    }
}

@media only screen and (max-width:500px){
    .bg5{
        left: calc(50% - 200px);
        z-index: 101;
        top: calc(50% - 50px);
    }
}